* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.navbar {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-but {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    background-color: rgba(28, 24, 22, 1);
    border-radius: 0.4rem;
    color: white;
    gap: 0.4rem;
}

.nav-but1 {
    border: 2px solid red;

}

@media screen and (max-width:774px) {
    .nav-but {
        display: none
    }

}

.nav-but h3 {
    margin: 0%;
    font-size: 0.8rem;
    font-weight: 700;
}

.login {
    display: flex;
    gap: 1rem;

}

.navmediabar {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: -3rem;
    font-size: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.nav-media1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.5rem;

    background-color: rgba(28, 24, 22, 1);
    border-radius: 0.4rem;
    color: white;
    gap: 0.4rem;


}

.nav-media2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem;
    background-color: rgba(28, 24, 22, 1);
    border-radius: 0.4rem;
    color: white;
    gap: 0.4rem;

}

.nav-media1 h3 {
    margin: 0%;
    font-size: 0.8rem;
}

.nav-media2 h3 {
    margin: 0%;
    font-size: 0.8rem;

}

.nav-media1 {
    border: 2px solid red;
}

@media screen and (min-width:774px) {
    .navmediabar {
        display: none
    }

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    gap: 1rem;
}


.heading {
    color: white;
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.heading .line {
    width: 6rem;
    height: 0.3rem;
    background-color: red;
    border-radius: 2rem;
    margin-bottom: 0.2rem;
}

.box .deals .products {
    height: 30vh;
    width: 30vh;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .deals {
    gap: 0.5rem;
    background-color: rgba(28, 24, 22, 1);
    height: 30vh;
    width: 20rem;
    border-radius: 1.5rem;
    padding: 1rem;
    align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: fit-content;
}
.box .deals p{
 margin-top: -0.1rem;
   
}

.footer {
    background-color: gray;

}

#p-dis {
    font-size: 0.8rem;
}

.kfc-footer {
    background: rgba(28, 24, 22, 1);
    color: #fff;
    margin-top: 2rem;
}

.footer-logo {
    height: 60px;
}

.social-icons div {
    background-color: rgba(240, 207, 160, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.social-icons img {
    width: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.social-icons img:hover {
    opacity: 0.7;
}

.footer-links a {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
}

.footer-links a:hover {
    color: #fff;
}

.footer-heading {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
}

.footer-bottom a {
    color: #e4002b;
    font-weight: bold;
}

.deals {
    background-color: black;
    gap: 1rem;
}

.explore img {

    height: 30vh;
    width: 60vh;
    border-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width:400px) {
    .explore {
        height: 30vh;
        width: 50vh;

    }

    .explore-section {
        gap: 1rem;
        margin: 0%;

        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .explore-section .explore {
       margin: 0%;
        display: flex;
padding: 0%;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

    }

}

.explore-section .explore {
    gap: 1rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.redtag {
    width: 4rem;
    height: 1rem;
}

.onepersondeal {
    margin-top: -4rem;
}.sidebar {
  position: fixed;
  left: -300px; /* Adjust based on width */
  width: 300px;
  height: 100%;
  transition: 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

/* optional for smooth mobile */
@media screen and (max-width: 774px) {
  .sidebar {
    width: 80%;
  }
}
