
.navbar{
    padding: 2rem ;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.nav-but{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: rgba(28, 24, 22, 1);
    border-radius: 0.4rem;
    color: white;
    gap: 0.4rem;   
}
.nav-but1{
  border: 2px solid red;
   
}
@media screen  and (max-width:774px){
    .nav-but{
        display: none
    }
    
}
.nav-but h3{
    margin: 0%;
    font-size: 1rem;
}
.login{
    display: flex;
    gap: 1rem;

}
.navmediabar{
   padding-top: 2rem ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
gap: 0.5rem;
margin-top: -3rem;
font-size: 0.5rem;
margin-left: 2rem;
}
.nav-media1 {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.5rem;
    
    background-color: rgba(28, 24, 22, 1);
    border-radius: 0.4rem;
    color: white;
    gap: 0.4rem;

    
}

.nav-media2 {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem;
    background-color: rgba(28, 24, 22, 1);
    border-radius: 0.4rem;
    color: white;
    gap: 0.4rem;
    
}
.nav-media1 h3{
    margin: 0%;
    font-size: 0.8rem;
}
.nav-media2 h3{
    margin: 0%;
       font-size: 0.8rem;

}
.nav-media1{
    border: 2px solid red;
}
@media screen  and (min-width:774px){
    .navmediabar{
        display: none
    }
    
}