.termsheader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem 17rem;
   
}
.termsh2{
        color: #fff;
    color: var(--white);
    font-family: National2CondensedBold;
    font-family: var(--theam-font);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
    border-bottom: 1px solid #ea002a;
    line-height: 1.2;
    padding: 2rem;
}

    ol li h5{
        font-size: 20px;
        color: #ea002a;
        font-weight: 600;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .termsheader p{
        font-size: 15px;
      
    }
    p{
        display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 18px;
  
    }
   
    a{
        color: #ea002a;
        list-style: none;
        text-decoration: none;
        font-style: bold;
    }
    p {
  font-family: "Arial", sans-serif;
  font-weight: 100;
  margin-top:   0.7rem;
}
b{
    font-weight: 600;
    padding: 1rem 0rem;
  
}
.kiok{
    font-size: 18px;
    font-weight: 700;
    padding: 0%;
    line-height: 2rem;
    margin: 0%;
  

}