body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
   padding: 0%;
   gap: 0%;
}
.loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
  border-radius: 1rem;
    flex-direction: row;
    width: 100%;
    background-color: rgb(32, 32, 32);
    height: 65vh;
    margin-top: 4rem;
}
.loginrow{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}
.logininfo{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1rem;
}
.input{
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    background-color: rgb(49, 48, 48);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid white;
    font-size: 1rem;
}
.input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
}
.button{
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgb(236, 31, 31);
    color: white;
}
.logininfo div{
    display: flex;
    flex-direction: column;
}
@media screen  and (max-width:844px){
    .loginpage .loginrow{
        display: flex;
        flex-direction: column;
       
        
    }
    .loginpage{
        height: 120vh;

    }
 
}
.icon{
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 border:1px solid rgb(209, 15, 15);
  width: 2rem;
  height: 2rem;
}
h2{
    font-weight: 800;
}
label{
    font-size: 0.9rem;  
    margin-bottom: 0.2rem;
    font-weight: 300;
}
.button:hover{
    background-color: rgb(148, 7, 7);
    cursor: pointer;
}